@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lato:wght@300;400&family=Playfair+Display:wght@500&family=Staatliches&display=swap');

:root {
    --white-color: #fff;
    --main-color: #FF2052;
    --grey: #d5caca;
    --black: #111;
    --pink: #eb236d;
    --dark-pink: #fa2372;
    --transparent-pink: rgba(255, 167, 199, 70%);
    --blue: #00a3ff;
  
    /* CONSISTENT FONT FAMILY */
    --font-Staatliches: 'Staatliches', cursive;
    --font-lato: "Lato";
    --font-inter: "Inter";
    --font-playfair: "Playfair Display";
    --font-bebas: 'Bebas Neue', cursive;
  
    /* CONSISTENT FONT SIZE */
    --fontsz-96px: 96px; /* FOR OSWALD */
    --fontsz-60px: 60px; /* FOR INTER */
    --fontsz-48px: 48px; /* FOR INTER */
    --fontsz-24px: 24px; /* FOR LATO */
    --fontsz-20px: 20px; /* FOR LATO */
    --fontsz-16px: 16px; /* FOR ROBOTO */
    --fontsz-14px: 14px; /* FOR ROBOTO */
  
    /* BORDER RADIUS FULL ROUNDED 24px - full*/
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #F7FBFF;
}

header{
  background-image: url("img/gambarKesehatan.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 545px;
}

/* Navbar */
nav{
  margin-top: 0px;
  margin-left: 100px;
}

.navbar-brand{
  font-family: var(--font-Staatliches);
  font-style: normal;
  font-weight: 400;
  font-size: 26px !important;
  color: var(--white-color);
}

.navbar-nav{
  margin-right: 100px;
}

.nav-link{
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  color: var(--white-color) !important;
}

.nav-link.active{
  color: var(--main-color) !important;
}

hr{
  margin-top: 0px !important;
  margin-bottom: 0 !important;
  border: 1px solid !important;
  width: 60px;
}
/* End Navbar */

/* Hero Section */
#hero{
  height: 292px;
  width: 848px;
  padding: 10px;
}
.hero-container{
  margin-left: 100px;
}

.title-hero{
  font-family: var(--font-Staatliches);
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  color: var(--white-color);
  height: 142px;
  width: 840px;
}

.subtitle-hero{
  color: var(--white-color);
  margin-top: 80px;
  font-family: var(--font-lato);
}

.button-hero{
  height: 36px;
  width: 139px;
  border-radius: 5px;
  padding: 10px 25px;
  background-color: var(--main-color) !important;
  font-family: var(--font-lato);
}
/* End Hero */

/* Statement Page */
#statement {
  padding: 150px 100px;
}
.container-statement{
  display: flex;
  justify-content: space-between;
}
.title-statement{
  width: 100%;
  position: relative;
}
.title-statement h2 {
  font-size: 75px;
  font-family: var(--font-Staatliches);
  font-weight: 400;
  color: var(--main-color);
}
.subtitle-statement{
  width: 70%;
  padding: 10px;
}
.subtitle-statement p {
  font-family: var(--font-lato);
  font-weight: 300;
  font-size: 20px;
}
.label-statement{ 
  position: absolute;
  height: 50px;
  margin-left: 400px;
  transform: translateY(-40px);
}
.label-statement h4{
  background-color: #5A98FF;
  width: auto;
  height: auto;
  font-size: 15px;
  padding: 15px 12px;
  color: #fff;
  transform: rotate(-22deg);
  box-shadow: 0 15px 20px rgba(66, 133, 244, 20%);
}
.ask-statement {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.ask-statement h4 {
  font-family: var(--font-Staatliches);
  color: #5A98FF;
}
.end-Line {
  width: 100%;
  display: flex;
  justify-content: center;
}
.end-Line span{
  width: 90%;
  height: 1px;
  background-color: var(--black);
  opacity: 30%;
}
/* End Statement */

/* Caused Page */
#caused {
  padding: 150px 100px;
}
.container-caused{
  display: flex;
  justify-content: space-between;
}
.caused-words{
  width: 20%;
  padding-top: 10px;
}
.caused-words h4{
  width: 60%;
}
.caused-content{
  width: 100%;
}
.caused-content h1 {
  font-family: var(--font-Staatliches);
  font-size: var(--fontsz-48px);
  color: var(--main-color);
}
.caused-words h4{
  font-size: 20px;
  font-family: var(--font-Staatliches);
}
.image-caused {
  width: 100%;
  height: 220px; 
  background-image: url("img/gambarJantung.jpg");
  background-size: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.diabetes-type {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.diabetes-type-content {
  width: 49%;
}
.diabetes-type-content h4 {
  font-size: var(--fontsz-24px);
  color: #4285F4;
  font-family: var(--font-Staatliches);
  font-weight: 400;
}
.diabetes-type-content p {
  font-family: var(--font-bebas);
}
/* End Caused */

/* Risks Page */
#risks {
  padding: 150px 100px;
}
.container-risk{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.risk-right {
  width: 80%;
}
.risk-image1 {
  width: 100%;
  height: 30vh;
  background-image: url(img/Image.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  border-radius: 10px;
}
.risk-image2 {
  width: 203px;
  height: 472px;
  background-image: url(img/gambarJantung.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  border-radius: 10px;
}
.risk-left {
  width: 80%;
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
}
.risk-type-parent {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.risk-type-child{
  width: 45%;
}
ul {
  list-style-type: none;
}
ul li::before{
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-image: url(img/list-style.ico);
  margin-right: 10px;
}
ul li {
  font-family: var(--font-lato);
  font-size: var(--fontsz-14px);
}
.risk-type-child h4{
  font-family: var(--font-bebas);
  font-size: 18px;
  color: var(--main-color);
}
.for-color{
  color: #4285F4;
}
.risk-statement{
  width: 60%;
}
.risk-statement h1{
  font-size: 48px;
  font-family: var(--font-Staatliches);
  color: var(--main-color);
}
.risk-statement .statement-top{
  font-family: var(--font-bebas);
  font-size: 16.3px;
}
.risk-statement-bottom h4{
  font-size: 18px;
  font-family: var(--font-bebas);
  color: var(--main-color);
}
.risk-statement-bottom p {
  font-family: var(--font-lato);
  font-size: var(--fontsz-14px);
}
/* End Risks */

/* Symtoms Page */
#symptoms {
  display: flex;
  padding: 150px 100px;
  justify-content: space-between;
}
.container-symptoms{
  width: 80%;
}
.symptoms-right-img{
  width: 203px;
  height: 462px;
  background-image: url(img/gambarJantung.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
}
.symptoms-left{
  display: flex;
  width: 100%;
}
.symptoms-statement{
  display: flex;
}
.symptoms-type{
  width: 40%;
  margin-right: 25px;
  padding-top: 10px;
}
.symptoms-type h4{
  color: var(--main-color);
  font-family: var(--font-bebas);
  font-size: 18px;
}
.symptoms-type p{
  font-size: var(--fontsz-14px);
  font-family: var(--font-lato);
  font-weight: 400;
}
.symptoms-several {
  width: 320px;
  padding-top: 10px;
}
.symptoms-several h4{
  font-family: var(--font-bebas);
  font-size: var(--fontsz-14px);
  color: var(--main-color);
}
.header-symptoms{
  width: 368px;
  margin-right: 30px;
}
.header-symptoms h1{
  font-family: var(--font-Staatliches);
  font-size: var(--fontsz-48px);
  color: #FF436D;
}
.header-symptoms p{
  font-family: var(--font-bebas);
  font-size: 18px;
  margin-top: 20px;
}
.symptoms-left-img{
  width: 100%;
  height: 170px;
  background-image: url(img/Image.png);
  background-position: bottom;
  border-radius: 10px;
  margin-top: 5px;
}

/* CONSULTATION */
.consultation-diabetes {  
  padding: 150px 100px;
}

.title-consultation-diabetes {
  font-family: var(--font-Staatliches);
  font-size: 82px;
  line-height: 95px;
  color:#FF436D;
}

.subtitle-consultation {
  font-size: 18px;
  line-height: 16px;
}

#search-consultation {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 7px;
  border: 1px solid #BBB;
  margin-bottom: 10px;
}

.fitur-group {
  position: relative;
}

#search-consultation:focus {
  border: 1px solid #FF436D;
  outline: 1px solid #FF436D;
}

.filter-group {
  margin-bottom: 65px;
}

.filter-fitur {
  padding: 8px 20px;
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 7px;
  position: absolute;
  right: 0;
}

.group-card-consultation {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 30px;
}

.card-consultation {
  width: 570px;
  height: 273px;
  display: flex;
  background-color: #71A6FF;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.10);
}

.img-consultation {
  width: 50%;
  border-radius: 10px 0 0 10px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
}

.img-place-group {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
  color: white;
}

.hospital-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;

}

.region-name{
  font-size: 14px;
}

.desc-consultation {
  width: 50%;
}
.doctor-bar-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.group-button{
  position: relative;
  justify-content: start;
  align-items: end;
  height: 70%;
  padding-left: 20px;
}
.telp-button{
  margin-right: 10px;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.form-copy {
  font-family: var(--font-lato);
  font-size: 16px;
  width: 150px;
  border: none;
  border-bottom: 1px solid #F7FBFF;
  background: transparent;
  color: var(--white-color);
}
.form-copy:focus{
  outline: none;
}
.btn-copy {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 40px;
}
.btn-copy i{
  width: 40px;
  height: 40px;
  background-color: none;
}
.telp-button i {
  background-color: var(--main-color);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.telp-button i:hover{
  background-color: #fff;
  color: var(--main-color);
  cursor: pointer;
}
.location-button{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 60px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.location-button i{
  background-color: #fff;
  color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-button i:hover{
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
.title-doctor{
  font-family: var(--font-inter);
  font-size: 16px;
  color: #fff;
}
.doctor-name {
  font-family: var(--font-inter);
  font-size: var(--fontsz-14px);
  line-height: 20px;
  color: #fff;
}

/* End of Consultation diabetes */

/* Tips Page */
#tips {
  padding: 150px 100px;
}
.header-tips{
  text-align: center;
}
.header-tips h1 {
  color: var(--main-color);
  font-family: var(--font-Staatliches);
  font-size: 82px;
}
.header-tips p {
  font-size: var(--fontsz-24px);
  font-family: var(--font-lato);
  font-weight: 600;
}
.content-tips {
  margin-top: 100px;
}
.step-tips {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.img-step{
  background-image: url(img/gambarJantung.jpg);
  width: 45%;
  height: 35vh;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.step-group {
  margin-left: 20px;
  width: 95%;
  padding: 10px;

}
.step-header h4{
  font-family: var(--font-lato);
  font-size: var(--fontsz-24px);
  font-weight: 600;
}
.content-step p {
  font-family: var(--font-lato);
  font-size: var(--fontsz-20px);
  font-weight: 300;
}

/* Footer */
#footer {
  padding: 100px 100px 0 100px;
  background-color: var(--white-color);
  border: 1px solid #E6E6E6;
}
.container-footer{
  width: 100%;
  height: 60vh;
}
.list::before{
  content: none;
  display: none;
  height: 0;
  width: 0;
  background-size: 0;
  background-image: none;
  margin-right: 0;
}
.list {
  font-family: var(--font-lato);
  font-size: var(--fontsz-20px);
  font-weight: 300;
}
.list-header{
  line-height: 40px;
}
.container-footer{
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
}
.header-left {
  width: 466px;
  line-height: 39px;
}
.header-left h1{
  font-family: var(--font-inter);
  font-size: 32px;
  font-weight: 600;
  color: var(--main-color);
}
.address{
  font-family: var(--font-lato);
  font-size: var(--fontsz-16px);
  font-weight: 300;
  line-height: normal;
}
.content-right-group{
  display: flex;
  justify-content: space-evenly;
  width: 564px;
  height: 100%;
}
.content-navigation h3{
  margin-left: 30px;
  font-family: var(--font-inter);
  font-size: var(--fontsz-24px);
  font-weight: 600;
}
.end-Footer{
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100%;
}
.end-Footer span {
  width: 100%;
  background-color: #E6E6E6;
  height: 1px;
  font-size: 20px;
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--main-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
  background: #666;    
}

::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 5px;
}

/* overlay */
.wrap {
  width: 95%;
  margin: auto;
  height: 85%;
  overflow-y: scroll;
  padding: 20px;
  background: var(--white-color);
  margin-top: 50px;
  border-radius: 20px;
}
.wrap h2{
  font-size: var(--fontsz-24px);
}
.openbtn {
  background: var(--putih);
  border: none;
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  float: right;
}
.openbtn:hover {
  background: #bbbbbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: var(--putih);
}

.closebtn:hover {
  color: #ccc;
}
