@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Playfair+Display:wght@500&family=Staatliches&display=swap');

:root{
  --font-Staatliches: 'Staatliches', cursive;
  --font-inter: 'Inter', sans-serif;
  --font-lato: "Lato";
  --font-playfair: "Playfair Display";
  --white-color: #fff;
  --main-color: #FF2052;
  --button-color: #FFBFCD;
  --dark-color: #a9a8a8;
  --black-color: #080606;
  --blue-color: #2F6FD9;
  --pink: #eb236d;
  --dark-pink: #fa2372;
  --transparent-pink: rgba(255, 167, 199, 70%);
}

*{
  text-decoration: none !important;
  list-style-type: none;
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


header{
  background-image: url("img/gambarKesehatan.jpg");
  background-attachment: fixed;
  background-position: center;
  height: 545px;
  background-size: 100%;
}

/* Navbar */
nav{
  margin-top: 0px;
  margin-left: 100px;
}

.navbar-brand{
  font-family: var(--font-Staatliches);
  font-style: normal;
  font-weight: 400;
  font-size: 26px !important;
  color: var(--white-color);
}

.navbar-nav{
  margin-right: 100px;
}

.nav-link{
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  color: var(--white-color) !important;
}

.nav-link.active{
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}
/* End Navbar */

/* Hero Section */
#hero{
  height: 292px;
  width: 848px;
  padding: 10px;
}

.title-hero{
font-family: var(--font-playfair);
font-style: normal;
font-weight: 500;
font-size: 61px;
color: var(--white-color);
height: 142px;
width: 828px;
}

.subtitle-hero{
  color: var(--white-color);
}

.button-hero{
height: 36px;
width: 139px;
border-radius: 5px;
padding: 10px 25px 10px 25px;
background-color: var(--main-color) !important;
margin-left: 350px;
}
/* End Hero */

/* About Section */
#about{
  height: 834px;
  margin: 0 100px;
  top: 545px;
  border-radius: 0px;
  padding: 300px 0px 70px 0px;
}

.about-title{
  font-family: var(--font-playfair);
  font-weight: 500;
  font-size: 53px;
  color: var(--main-color);
}

.about-sub{
width: 733px;
height: 168px;
font-family: var(--font-lato);
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 29px;
}

img{
  width: 100%;
}
/* End About Section */

/* kasus section */
#kasus{
  /* background-color: aquamarine; */
  width: 1150px;
  height: 725px;
  margin-left: 100px;
  top: 1421px;
  border-radius: 0px;
  padding: 0px 0px 300px 0px;
}

.button-kasus{
  font-family: var(--font-inter) !important;
font-size: 16px !important;
font-weight: 400 !important;
  background-color: var(--white-color) !important;
  color: var(--dark-color) !important;
  border: 1px solid var(--dark-color) !important;
  padding: 5px 30px !important;
  margin-bottom: 100px !important;
}

.button-kasus:hover{
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--dark-color) !important;
  padding: 5px 30px !important;
}

.button-kasus:active{
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--dark-color) !important;
  padding: 5px 30px !important;
}

.kasus-title{
  margin-bottom: 20px;
  width: 250px;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 30px;
}

.kasus-subtitle{
  width: 656px;
  height: 360px;
  font-family: var(--font-lato);
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}

.img-kasus{
  height: 418px;
}
/* end kasus section */

/* penghubung section */
#penghubung{
  background-color: var(--main-color);
  padding: 110px 0;
  height: 308px;
}

.title-penghubung{
  color: var(--white-color);
  width: 787px;
  height: 88px;
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  display: flex;
align-items: center;
text-align: center;
}
/* end penghubung */

/* cases section */
#cases{
  height: 1902px;
  margin-left: 100px;
  padding: 300px 0px 300px 0px;
}

.title-cases{
  width: 678px;
height: 251px;
font-family: var(--font-playfair);
font-weight: 500;
font-size: 61px;
line-height: 81px;
color: var(--main-color);
}

/* end cases section */

/* diagnostic section */

/* CONSULTATION */
.consultation-diabetes {  
  padding: 150px 100px;
}

.title-consultation-diabetes {
  font-family: var(--font-Staatliches);
  font-size: 82px;
  line-height: 95px;
  color:#FF436D;
}

.subtitle-consultation {
  font-size: 18px;
  line-height: 16px;
}

#search-consultation {
  width: 100%;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 7px;
  border: 1px solid #BBB;
  margin-bottom: 10px;
}

.fitur-group {
  position: relative;
}

#search-consultation:focus {
  border: 1px solid #FF436D;
  outline: 1px solid #FF436D;
}

.filter-group {
  margin-bottom: 65px;
}

.filter-fitur {
  padding: 8px 20px;
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 7px;
  position: absolute;
  right: 0;
}

.group-card-consultation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card-consultation {
  width: 570px;
  height: 273px;
  display: flex;
  background-color: #71A6FF;
  border-radius: 10px;
  box-shadow: 20px 20px 0 rgba(46, 45, 45, 0.014);
}

.img-consultation {
  width: 50%;
  border-radius: 10px 0 0 10px;
  background-image: url(img/gambarKesehatan.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding: 20px;
  position: relative;
}

.img-place-group {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
  color: white;
}

.hospital-name {
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;

}

.region-name{
  font-size: 14px;
}

.desc-consultation {
  width: 50%;
}
.doctor-bar-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.group-button{
  display: flex;
  justify-content: end;
  align-items: end;
  height: 70%;
  padding-right: 10px;
}
.telp-button{
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.telp-button i {
  background-color: var(--main-color);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-button{
  width: 40px;
  height: 40px;
}
.location-button i{
  background-color: #fff;
  color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-doctor{
  font-family: var(--font-inter);
  font-size: 16px;
  color: #fff;
}
.doctor-name {
  font-family: var(--font-inter);
  font-size: var(--fontsz-24px);
  line-height: 20px;
  color: #fff;
}
.photo-doctor {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  margin-right: 10px;
}


/* end diagnostic section */

/* testing section */
#testing{
  margin: 0 100px;
  height: 1401px;
  width: 1155px;
  left: 101px;
  align-items: center;
  padding: 150px 0px;
}

.testing1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  gap: 10px;
  background: var(--blue-color);
  border-radius: 10px 10px 0px 0px;
}

.font-testing1{
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  height: 38px;
}

.testing2{
  left: 0px;
  width: 1155px;
  margin: 0 0 !important;
}

.bg-testing2-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  gap: 10px;
  /* 450px */
  height: 225px; 
  left: 0px;
  background: #4285F4;
  border-radius: 0px;
  margin: 0 0 !important;
}

.font-testing2-1{
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white-color);
}

.bg-testing2-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  gap: 10px;
  height: 225px;
  background: #5A98FF;
  border-radius: 0px;
  margin: 0 0 !important;
}

.font-testing2-2{
height: 116px;
font-family: var(--font-inter);
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 29px;
display: flex;
align-items: center;
color: var(--white-color);
padding: 5px 5px;
}

.testing3{
  left: 0px;
  width: 1155px;
  margin: 0 0 !important;
}

.bg-testing3-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  gap: 10px;
  /* 450px */
  height: 225px; 
  left: 0px;
  background: #5A98FF;
  border-radius: 0px;
  margin: 0 0 !important;
}

.font-testing3-1{
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white-color);
}

.bg-testing3-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  gap: 10px;
  height: 225px;
  background: #4285F4;
  border-radius: 0px;
  margin: 0 0 !important;
}

.font-testing3-2{
height: 116px;
font-family: var(--font-inter);
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 29px;
display: flex;
align-items: center;
color: var(--white-color);
padding: 5px 5px;
}

.testing4{
  left: 0px;
  width: 1155px;
  margin: 0 0 !important;
}

.bg-testing4-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  gap: 10px;
  /* 450px */
  height: 225px; 
  left: 0px;
  background: #4285F4;
  border-radius: 0px;
  margin: 0 0 !important;
}

.font-testing4-1{
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white-color);
}

.bg-testing4-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px 100px;
  gap: 10px;
  height: 225px;
  background: #5A98FF;
  border-radius: 0px;
  margin: 0 0 !important;
}

.font-testing4-2{
height: 116px;
font-family: var(--font-inter);
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 29px;
display: flex;
align-items: center;
color: var(--white-color);
padding: 5px 5px;
}
/* end testing section */

/* quotes */
.quotes{
  width: 931px;
  height: 91px;
  margin-top: 544px ;
  margin-bottom: 303px;
  font-family: var(--font-playfair);
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
}
/* end quotes */

/* footer */
#footer {
  padding: 100px 100px 0 100px;
  background-color: var(--white-color);
  border: 1px solid #E6E6E6;
}
.container-footer{
  width: 100%;
  height: 60vh;
}
.list::before{
  content: none;
  display: none;
  height: 0;
  width: 0;
  background-size: 0;
  background-image: none;
  margin-right: 0;
}
.list {
  font-family: var(--font-lato);
  font-size: 20px;
  font-weight: 300;
}
.list-header{
  line-height: 40px;
}
.container-footer{
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
}
.header-left {
  width: 466px;
  line-height: 39px;
}
.header-left h1{
  font-family: var(--font-inter);
  font-size: 32px;
  font-weight: 600;
  color: var(--main-color);
}
.address{
  font-family: var(--font-lato);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.content-right-group{
  display: flex;
  justify-content: space-evenly;
  width: 564px;
  height: 100%;
}
.content-navigation h3{
  margin-left: 30px;
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 600;
}
.end-Footer{
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100%;
}
.end-Footer span {
  width: 100%;
  background-color: #E6E6E6;
  height: 1px;
  font-size: 20px;
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--main-color);
}
/* end footer */

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
  background: #666;    
}

::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 5px;
}