@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato&family=Oswald:wght@500&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 10px 0;
}

:root {
  --white: #fff;
  --semi-white: #fbfbfb;
  --grey: #d5caca;
  --black: #111;
  --pink: #eb236d;
  --dark-pink: #fa2372;
  --transparent-pink: rgba(255, 167, 199, 70%);
  --blue: #00a3ff;

  /* CONSISTENT FONT FAMILY */
  --font-roboto: "Roboto";
  --font-lato: "Lato";
  --font-inter: "Inter";
  --font-oswald: "Oswald";

  /* CONSISTENT FONT SIZE */
  --fontsz-96px: 96px; /* FOR OSWALD */
  --fontsz-60px: 60px; /* FOR INTER */
  --fontsz-48px: 48px; /* FOR INTER */
  --fontsz-24px: 24px; /* FOR LATO */
  --fontsz-20px: 20px; /* FOR LATO */
  --fontsz-16px: 16px; /* FOR ROBOTO */
  --fontsz-14px: 14px; /* FOR ROBOTO */

  /* BORDER RADIUS FULL ROUNDED 24px - full*/
}

body {
  margin: 20px;
}

.parent {
  padding: 20px;
  margin: 20px 0;
  background-color: #eee;
}

.parent div {
  margin: 20px 0;
}

.parent div:nth-child(1) {
  font-size: 96px;
  font-family: var(--font-oswald);
}

.parent div:nth-child(2) {
  font-size: 60px;
  font-family: var(--font-inter);
}

.parent div:nth-child(3) {
  font-size: 48px;
  font-family: var(--font-inter);
}

.parent div:nth-child(4) {
  font-size: 24px;
  font-family: var(--font-lato);
}

.parent div:nth-child(5) {
  font-size: 20px;
  font-family: var(--font-lato);
}

.parent div:nth-child(6) {
  font-size: 16px;
  font-family: var(--font-roboto);
}

/* BUTTON */

.button-group button:nth-child(1) {
  background-color: var(--pink);
  color: var(--semi-white);
  padding: 12px 34px;
  font-size: 14px;
  border: none;
  border-radius: 24px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.button-group button:nth-child(1):hover {
  background-color: var(--dark-pink);
  color: var(--white);
  box-shadow: 0 0 10px var(--pink);
  transform: translateY(-5px);
}

/* INPUT */
.input-style input {
  padding: 10px 16px;
  font-size: var(--fontsz-16px);
  outline: none;
  border-radius: 20px;
  border: 1px solid var(--pink);
}

.input-style input:focus {
  outline: 3px solid var(--transparent-pink);
  background-color: var(--semi-white);
}

.input-style input:hover {
  outline: 3px solid var(--transparent-pink);
  background-color: var(--semi-white);
}
