body {
  background-color: #f7fbff;
  overflow-x: hidden;
}

#mynav {
  transition: all ease 0.4s;
  z-index: 9999;
}

.nav-colored {
  background: rgba(255, 255, 255, 85%);
  backdrop-filter: blur(40px);
  color: #000;
}

.nav-transparent {
  background-color: transparent;
}

.title-landing {
  transition: all ease 0.5s;
}

.keterangan {
  transition: all ease 0.5s;
}

.container-bar {
  transition: all ease 0.5s;
}

#svg {
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 20%);
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .title-landing {
    transform: scale(0.9);
  }

  .keterangan {
    margin-top: 18px;
    transform: scale(0.9);
  }

  .container-bar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .navbar .right ul li:nth-child(n-4) {
    display: none;
  }

  .navbar .right ul .ham {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .title-landing {
    transform: scale(0.7);
  }

  .keterangan {
    margin-top: 15px;
    transform: scale(0.8);
  }

  .container-bar {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #header-img {
    height: 120vh;
  }

  #case .container-case {
    flex-direction: column;
  }

  .card-container {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 620px) {
  .content-bar {
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }

  .title {
    display: block;
    text-align: center;
  }

  .statement {
    padding-left: 0;
    text-align: center;
  }

  .content {
    width: 100%;
    margin: 20px 0;
  }

  .header h1 {
    font-size: 30px;
  }

  .header p {
    font-size: 20px;
  }

  section {
    padding: 75px 0;
  }

  #reason .right {
    display: flex;
    flexirection: column;
  }

  #reason .right:nth-child(n) {
    transform: scale(0.9);
    align-items: center;
  }

  .right .columns-2 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .content-bar {
    flex-direction: column;
    padding: 20px;
  }

  .content {
    width: 100%;
    margin: 20px 0;
  }

  .header h1 {
    font-size: 45px;
  }

  section {
    padding: 75px 0;
  }
}
