@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato&family=Oswald:wght@500&family=Roboto:wght@700&display=swap");

:root {
    --white: #fff;
    --semi-white: #fbfbfb;
    --grey: #d5caca;
    --black: #111;
    --pink: #eb236d;
    --dark-pink: #fa2372;
    --transparent-pink: rgba(255, 167, 199, 70%);
    --blue: #00a3ff;
  
    /* CONSISTENT FONT FAMILY */
    --font-roboto: "Roboto";
    --font-lato: "Lato";
    --font-inter: "Inter";
    --font-oswald: "Oswald";
  
    /* CONSISTENT FONT SIZE */
    --fontsz-96px: 96px; /* FOR OSWALD */
    --fontsz-60px: 60px; /* FOR INTER */
    --fontsz-48px: 48px; /* FOR INTER */
    --fontsz-24px: 24px; /* FOR LATO */
    --fontsz-20px: 20px; /* FOR LATO */
    --fontsz-16px: 16px; /* FOR ROBOTO */
    --fontsz-14px: 14px; /* FOR ROBOTO */
  
    /* BORDER RADIUS FULL ROUNDED 24px - full*/
}

* {
    margin: 0;
    /* padding: 0; */
    text-decoration: none;
    list-style: none;
}

.footer {
    display: flex;
    align-items: end;
    width: 100%;
    height: 100vh;
}
.foot-logo h1{
    font-family: var(--font-inter);
    color: var(--pink);
}

.foot-logo p {
    font-family: var(--font-lato);
    color: var(--dark-pink);
}

.foot-container{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--semi-white);
    padding-top: 20px;
    width: 100%;
    height: 40vh;
    border-top: 1px solid rgb(189, 184, 184);
    border-radius: 10px;
    flex-wrap: wrap;
}
hr {
    position: absolute;
    margin-bottom: 40px;
    background-color: rgb(85, 85, 85);
    width: 75%;
    opacity: 50%;
    height: 1px;
    border: none;
    margin-left: 125pt ;
}
.cp {
    position: absolute;
    margin-bottom: 15px;
    margin-left: 125pt;
    font-family: var(--font-lato);
    color: var(--pink);
}
ul li h3 {
    font-family: var(--font-inter);
    color: var(--dark-pink);
}
ul li a{
    color: var(--pink);
    font-family: var(--font-lato);
}
ul li a:hover {
    color: rgb(98, 98, 211);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    :root {
        --fontsz-96px: 60px;
        --fontsz-60px: 40px;
        --fontsz-48px: 36px;
        --fontsz-24px: 20px;
        --fontsz-20px: 16px;
        --fontsz-16px: 14px;
        --fontsz-14px: 12px;
      }
      
      .foot-logo {
        margin: 20px
      }
      .foot-logo h1 {
        font-size: var(--fontsz-60px);
      }
      
      .foot-logo p {
        font-size: var(--fontsz-24px);
      }
      
      .cp {
        margin-left: 10px;
        font-size: var(--fontsz-16px);
      }
      
      hr {
        margin-left: 10px;
        width: 90%;
      }
      
      ul li h3 {
        font-size: var(--fontsz-24px);
      }
      
      ul li a {
        font-size: var(--fontsz-16px);
      }
      .footer {
        flex-direction: column;
        height: auto;
      }
      
      .foot-container {
        flex-direction: column;
        height: auto;
        padding-top: 20px;
      }
      
      .cp {
        position: static;
        margin-left: 0;
        margin-right: 20px;
        margin-bottom: 10px;
        text-align: center;
      }
      
      ul li {
        margin-bottom: 10px;
      }
      
      ul li h3 {
        margin: 20px 0 5px 0;
      }
}