@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Noto+Serif+Display&family=Poppins&family=Red+Hat+Display&family=Roboto&family=Staatliches&display=swap");

:root {
  /* COLORS*/

  /* BLACK to White*/
  --primary-black: #0303030;
  --secondary-black: #1d1d1d;
  --third-black: #282828;
  --fourth-black: #a0a0a0;
  --fifth-black: #c5c5c5;
  --sixth-black: #e6e6e6;

  /* WHITE */
  --primary-white: #fff;
  --body-bg-white: #f7fbff;

  /* RED */
  --primary-red: #ff2052;
  --secondary-red: #ff436d;
  --third-red: #ff6689;
  --fourth-red: #ffbfcd;

  /* BLUE */
  --primary-blue: #4285f4;
  --secondary-blue: #5a98ff;
  --third-blue: #71a6ff;
  --fourth-blue: #c3daff;

  /* CONSISTENT FONT FAMILY */
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-noto: "Noto Serif Display", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-redhat: "Red Hat Display", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-staatliches: "Staatliches", cursive;

  /* CONSISTENT FONT SIZE */
  --fontsz-display-61px: 61px; /* FOR PLAYFAIR DISPLAY */
  --fontsz-display-49px: 49px; /* FOR PLAYFAIR DISPLAY */
  --fontsz-subtitle-39px: 39px; /* FOR PLAYFAIR DISPLAY */
  --fontsz-subtitle-31px: 31px; /* FOR INTER atau LATO*/
  --fontsz-subtitle-24px: 24px; /* FOR INTER  atau kalo buat logo pake staatliches*/
  --fontsz-article-16px: 16px; /* FOR LATO */
  --fontsz-article-13px: 13px; /* FOR LATO */

  /* BORDER RADIUS */
  --border-radius: 10px;
  --border-radius-button: 5px; /* tergantung size button */
  --border-radius-input: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
  /* overflow-x:hidden; */
}

body {
  background: var(--body-bg-white);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 800px) {
  .menu {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    transform: translateX(-100%);
    border-radius: 0 100% 100% 0;
    transition: all ease 0.9s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
  }

  .menu .ul {
    display: block;
    font-size: 24px;
    transition: 0.7s;
  }

  .menu.add {
    transform: translateX(0);
    transition: 0.4s;
    border-radius: 0 0 0 0;
  }
}

@media only screen and (max-width: 800px) {
  #navbar ul li:nth-child(n-4) {
    display: none;
  }

  #navbar ul .ham {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #666;
}

::-webkit-scrollbar-thumb {
  background: #232323;
  border-radius: 5px;
}
