@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Noto+Serif+Display&family=Poppins&family=Red+Hat+Display&family=Roboto&family=Staatliches&display=swap");

:root {
  /* COLORS*/

  /* BLACK to White*/
  --primary-black: #0303030;
  --secondary-black: #1d1d1d;
  --third-black: #282828;
  --fourth-black: #a0a0a0;
  --fifth-black: #c5c5c5;
  --sixth-black: #e6e6e6;

  /* WHITE */
  --primary-white: #fff;
  --body-bg-white: #f7fbff;
  --blue-white: #deeeff;

  /* RED */
  --primary-red: #ff2052;
  --secondary-red: #ff436d;
  --third-red: #ff6689;
  --fourth-red: #ffbfcd;
  --fifth-red: #ffdbe3;

  /* BLUE */
  --primary-blue: #4285f4;
  --secondary-blue: #5a98ff;
  --third-blue: #71a6ff;
  --fourth-blue: #c3daff;

  /* CONSISTENT FONT FAMILY */
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-noto: "Noto Serif Display", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-redhat: "Red Hat Display", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-staatliches: "Staatliches", cursive;

  /* CONSISTENT FONT SIZE */
  --fontsz-display-61px: 61px; /* FOR PLAYFAIR DISPLAY */
  --fontsz-display-49px: 49px; /* FOR PLAYFAIR DISPLAY */
  --fontsz-subtitle-39px: 39px; /* FOR PLAYFAIR DISPLAY */
  --fontsz-subtitle-31px: 31px; /* FOR INTER atau LATO*/
  --fontsz-subtitle-24px: 24px; /* FOR INTER  atau kalo buat logo pake staatliches*/
  --fontsz-article-16px: 16px; /* FOR LATO */
  --fontsz-article-13px: 13px; /* FOR LATO */

  /* BORDER RADIUS */
  --border-radius: 10px;
  --border-radius-button: 5px; /* tergantung size button */
  --border-radius-input: 6px;
}

/* Footer */
#foot {
  padding: 100px 30px 0 30px;
  border-top: 1px solid #e6e6e6;
}
.container-foot {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 80px;
  margin-bottom: 30px;
}
.foot-right {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.foot-left {
  width: 50%;
}
.foot-left h1 {
  font-family: var(--font-inter);
  font-size: 32px;
  font-weight: 600;
  color: var(--primary-red);
}
.foot-left .address {
  font-family: var(--font-lato);
  font-size: var(--fontsz-article-16px);
  font-weight: 300;
  line-height: normal;
  margin-top: 20px;
  color: var(--primary-red);
}
.telp {
  font-family: var(--font-lato);
  font-size: var(--fontsz-article-16px);
  font-weight: 300;
  line-height: normal;
  color: var(--primary-red);
}
.list-header {
  line-height: 30px;
}
.content-link h3 {
  font-family: var(--font-inter);
  font-size: var(--fontsz-subtitle-20px);
  font-weight: 600;
  color: var(--primary-red);
}
.list a {
  font-family: var(--font-lato);
  font-size: 16px;
  color: var(--primary-red);
}
.end-Footer {
  width: 100%;
  height: 10vh;
  padding: 20px 0;
  width: 100%;
  color: var(--primary-red);
  border-top: 1px solid #e6e6e6;
}

@media only screen and (max-width: 800px) {
  .container-foot {
    flex-wrap: wrap;
  }
  .foot-left {
    width: 90%;
  }
  .foot-right {
    flex-direction: column;
  }
  .content-link {
    margin-bottom: 20px;
  }
}
