@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&family=Playfair+Display:wght@500&family=Staatliches&display=swap');

:root {
    --white: #fff;
    --semi-white: #fbfbfb;
    --grey: #d5caca;
    --black: #111;
    --pink: #eb236d;
    --dark-pink: #fa2372;
    --transparent-pink: rgba(255, 167, 199, 70%);
    --blue: #00a3ff;
  
    /* CONSISTENT FONT FAMILY */
    --font-lato: "Lato";
    --font-inter: "Inter";
    --font-playfair: "Playfair Display";
  
    /* CONSISTENT FONT SIZE */
    --fontsz-96px: 96px; /* FOR OSWALD */
    --fontsz-60px: 60px; /* FOR INTER */
    --fontsz-48px: 48px; /* FOR INTER */
    --fontsz-24px: 24px; /* FOR LATO */
    --fontsz-20px: 20px; /* FOR LATO */
    --fontsz-16px: 16px; /* FOR ROBOTO */
    --fontsz-14px: 14px; /* FOR ROBOTO */
  
    /* BORDER RADIUS FULL ROUNDED 24px - full*/
}

* {
    margin: 0;
    /* padding: 0; */
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #F7FBFF;
    padding: 0 100px;
}
section{
    padding: 150px 0;
}
.container-bar{
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    /* background-color: #00a3ff; */
}
.parent-bar{
    /* background-color: #d5caca; */
    width: 100%;
}
.header {
    text-align: center;
    margin-bottom: 50px;
}
.header h1 {
    font-size: var(--fontsz-48px);
    font-family: var(--font-playfair);
}
.content-bar{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.08);
}
.content {
    /* background-color: #00a3ff; */
    width: 30%;
    margin: 0 10px;
}
.title {
    display: flex;
}
.title h3 {
    margin-right: 10px;
    font-family: var(--font-inter);
    font-size: var(--fontsz-24px);
}
.header p{
    font-size: var(--fontsz-24px);
    font-family: var(--font-lato);
}
.fa-solid {
    color: var(--dark-pink);
}
.statement {
    /* background-color: #eb236d; */
    padding-left: 35px;
}
.statement p {
    font-family: var(--font-lato);
    font-size: var(--fontsz-16px);
}

@media only screen and (max-width: 600px){
    body {
        padding: 0 50px;
    }
    .content-bar {
      flex-direction: column;
      padding: 20px;
    }
    .title {
        display: block;
        text-align: center;
    }
    .statement {
        padding-left: 0;
        text-align: center;
    }
    .content {
      width: 100%;
      margin: 20px 0;
    }
    .header h1 {
        font-size: 30px;
    }
    .header p{
        font-size: 20px;
    }
    section {
        padding: 75px 0;
    }
    .container-bar {
        height: 120vh;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    body {
        padding: 0 50px;
    }
    .content-bar {
      flex-direction: column;
      padding: 20px;
    }
    .content {
      width: 100%;
      margin: 20px 0;
    }
    .header h1 {
        font-size: 45px;
    }
    section {
        padding: 75px 0;
    }
    .container-bar {
        height: 100vh;
    }
}